.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgba(15, 13, 35, 0.2);
    box-sizing: border-box;
    min-width: 65px;
    max-width: 515px;
    height: 56px;
    padding: 0;
    margin: 0;

    &:hover {
        border-color: rgba(90, 155, 254, 1);
    }

    legend {
        font-family: Ubuntu, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        opacity: 0.2;
    }

    input {
        font-family: DM Sans, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        outline: none;
        border: none;
        padding: 0;
        margin: 0 0 7px;
        width: calc(100% - 48px);
        color: #07122e;
    }
}