.submit_btn {
    min-width: 375px;
    max-width: 590px;
    height: 80px;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    border-radius: 16px;
    border-color: #5a9bfe;
    background-color: #5a9bfe;
}